.main-page1097-main-page1097 {
  width: 1452px;
  height: 1591px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1452px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.main-page1097-body3311 {
  top: 261px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.main-page1097-fan-w-yduv3747 {
  top: 680px;
  left: 1084px;
  width: 356px;
  height: 340px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.main-page1097-svg {
  top: 17.094970703125px;
  right: 0.162109375px;
  width: 345;
  height: 323;
  position: absolute;
}
.main-page1097-text {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 137px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-svg01 {
  top: 178.5474853515625px;
  left: 16.907470703125px;
  width: 314px;
  height: 3px;
  position: absolute;
}
.main-page1097-text01 {
  top: 234px;
  left: 115.99990844726562px;
  color: rgba(255, 255, 255, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-image {
  top: 48px;
  left: 124.99998474121094px;
  width: 100px;
  height: 100px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.main-page1097-fan-wduv3877 {
  top: 680px;
  left: 724px;
  width: 356px;
  height: 340px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.main-page1097-svg02 {
  top: 17.094970703125px;
  left: 0.1622028350830078px;
  width: 356;
  height: 323;
  position: absolute;
}
.main-page1097-text02 {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 125px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-svg03 {
  top: 178.5474853515625px;
  left: 16.907501220703125px;
  width: 314px;
  height: 3px;
  position: absolute;
}
.main-page1097-text03 {
  top: 234px;
  left: 115.99998474121094px;
  color: rgba(255, 255, 255, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-image01 {
  top: 48px;
  left: 131px;
  width: 100px;
  height: 100px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.main-page1097-fan-exist3865 {
  top: 682px;
  left: 364px;
  width: 356px;
  height: 338px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.main-page1097-svg04 {
  top: 15.094970703125px;
  left: 0.162200927734375px;
  width: 356;
  height: 323;
  position: absolute;
}
.main-page1097-text04 {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-svg05 {
  top: 176.5474853515625px;
  left: 16.907499313354492px;
  width: 314px;
  height: 3px;
  position: absolute;
}
.main-page1097-text05 {
  top: 232px;
  left: 116.00000762939453px;
  color: rgba(255, 255, 255, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-image02 {
  top: 46px;
  left: 128.00001525878906px;
  width: 100px;
  height: 100px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.main-page1097-image03 {
  top: 46px;
  left: 128.00001525878906px;
  width: 100px;
  height: 100px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.main-page1097-fan-in5186 {
  top: 680px;
  left: 0px;
  width: 360px;
  height: 340px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.main-page1097-svg06 {
  top: 17.094970703125px;
  left: 4.1621856689453125px;
  width: 356;
  height: 323;
  position: absolute;
}
.main-page1097-text06 {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-svg07 {
  top: 178.5474853515625px;
  left: 20.907485961914062px;
  width: 314px;
  height: 3px;
  position: absolute;
}
.main-page1097-text07 {
  top: 234px;
  left: 119.99996948242188px;
  color: rgba(255, 255, 255, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-image04 {
  top: 48px;
  left: 133.2353515625px;
  width: 100px;
  height: 100px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.main-page1097-image05 {
  top: 48px;
  left: 133px;
  width: 100px;
  height: 100px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  object-fit: cover;
  border-color: transparent;
}
.main-page1097-light-and-foto3859 {
  top: 1px;
  left: 726.144775390625px;
  width: 354px;
  height: 338px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.main-page1097-svg08 {
  top: 15.235443115234375px;
  width: 354;
  height: 307;
  position: absolute;
}
.main-page1097-text08 {
  top: 0px;
  left: 0.8552036285400391px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-text09 {
  top: 310px;
  left: 199.6831512451172px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-image06 {
  top: 188px;
  left: 42px;
  width: 100px;
  height: 105px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.main-page1097-image07 {
  top: 188px;
  left: 41px;
  width: 100px;
  height: 105px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.main-page1097-svg09 {
  top: 168.57025146484375px;
  left: 16.675588607788086px;
  width: 313px;
  height: 3px;
  position: absolute;
}
.main-page1097-image08 {
  top: 41px;
  left: 38.03167724609375px;
  width: 105px;
  height: 100px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.main-page1097-text10 {
  top: 68px;
  left: 203.57432556152344px;
  color: rgba(255, 255, 255, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-text11 {
  top: 220px;
  left: 203.57432556152344px;
  color: rgba(255, 255, 255, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-temp-in3736 {
  top: 1px;
  left: 4px;
  width: 360px;
  height: 339px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.main-page1097-svg10 {
  top: 15.36358642578125px;
  left: 3.07228946685791px;
  width: 352;
  height: 309;
  position: absolute;
}
.main-page1097-text12 {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-text13 {
  top: 309px;
  left: 267.76617431640625px;
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-svg11 {
  top: 169.9090576171875px;
  left: 19.650291442871094px;
  width: 311px;
  height: 3px;
  position: absolute;
}
.main-page1097-image09 {
  top: 198px;
  left: 29.469087600708008px;
  width: 105px;
  height: 100px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.main-page1097-image10 {
  top: 47px;
  left: 32.632328033447266px;
  width: 105px;
  height: 103px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.main-page1097-text14 {
  top: 55px;
  left: 150px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-text16 {
  top: 210px;
  left: 167px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-text17 {
  top: 221.72726440429688px;
  left: 255.12548828125px;
  color: rgba(255, 255, 255, 1);
  width: 56px;
  height: auto;
  position: absolute;
  font-size: 60px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-date-time5193 {
  top: 0px;
  left: 363.5px;
  width: 359px;
  height: 340px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.main-page1097-svg12 {
  top: 16.36358642578125px;
  left: 2.1088364124298096px;
  width: 352;
  height: 309;
  position: absolute;
}
.main-page1097-text18 {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 59px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-text19 {
  top: 310px;
  left: 301.561767578125px;
  color: rgba(255, 255, 255, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-svg13 {
  top: 170.90911865234375px;
  left: 23.197044372558594px;
  width: 311px;
  height: 3px;
  position: absolute;
}
.main-page1097-text20 {
  top: 69px;
  left: 10.544119834899902px;
  color: rgba(255, 255, 255, 1);
  width: 335px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-text21 {
  top: 225px;
  left: 86.0058822631836px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-graph-temp-out57115 {
  top: 335px;
  left: 1080px;
  width: 360px;
  height: 338.9999694824219px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.main-page1097-svg14 {
  top: 15.859466552734375px;
  right: 2px;
  width: 357;
  height: 323;
  position: absolute;
}
.main-page1097-text22 {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-image11 {
  top: 71px;
  left: 79.13529968261719px;
  width: 207px;
  height: 200px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.main-page1097-graph-temp-in58122 {
  top: 334px;
  left: 4px;
  width: 359px;
  height: 340px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.main-page1097-svg15 {
  top: 16.8594970703125px;
  left: 2.099371910095215px;
  width: 357;
  height: 323;
  position: absolute;
}
.main-page1097-text23 {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 182px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-image12 {
  top: 72px;
  left: 66.5206069946289px;
  width: 207px;
  height: 200px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.main-page1097-temp-out3735 {
  top: 1px;
  left: 1087px;
  width: 354px;
  height: 339px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.main-page1097-svg16 {
  top: 15.3636474609375px;
  left: 0.07225799560546875px;
  width: 352;
  height: 309;
  position: absolute;
}
.main-page1097-text24 {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-text25 {
  top: 307px;
  left: 237.51470947265625px;
  color: rgba(255, 255, 255, 1);
  width: 116px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-svg17 {
  top: 169.9090576171875px;
  left: 16.650291442871094px;
  width: 311px;
  height: 3px;
  position: absolute;
}
.main-page1097-image13 {
  top: 198px;
  left: 21.197044372558594px;
  width: 106px;
  height: 100px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.main-page1097-image14 {
  top: 42px;
  left: 41.23088073730469px;
  width: 71px;
  height: 98px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.main-page1097-text26 {
  top: 210px;
  left: 170px;
  color: rgba(255, 255, 255, 1);
  /*width: 83px;*/
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-text27 {
  top: 226.6363525390625px;
  left: 246.030517578125px;
  color: rgba(255, 255, 255, 1);
  width: 56px;
  height: auto;
  position: absolute;
  font-size: 60px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-text28 {
  top: 55px;
  left: 148.7808837890625px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-header1002 {
  top: 16px;
  left: 0px;
  width: 1440px;
  height: 231px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(0, 0, 0, 1);
}
.main-page1097-footer1004 {
  top: 1311px;
  left: 0px;
  width: 1440px;
  height: 231px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(0, 0, 0, 1);
}
