.main-page {
  width: 1452px;
  height: 1200px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1452px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.body {
  top: 261px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.fun-wyduv-block {
  top: 340px;
  left: 1084px;
  width: 356px;
  height: 340px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.rectangle_fan_wyduv {
  top: 17px;
  right: -1px;
  width: 340;
  height: 323;
  position: absolute;
}
.fun-wyduv-text {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 137px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.line_fun_wyduv {
  top: 179px;
  left: 17px;
  width: 314px;
  height: 3px;
  position: absolute;
}
.fun-wyduv-var {
  top: 234px;
  left: 116px;
  color: rgba(255, 255, 255, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.fun-wyduv-img {
  top: 48px;
  left: 125px;
  width: 100px;
  height: 100px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
/*  transition: all 0.5s ease;*/
/*  animation: rotate 0.5s linear infinite;*/
/*}*/

/*@keyframes rotate {*/
/*  from {*/
/*    transform: rotate(-360deg);*/
/*  }*/
}

.fan-wduv-block {
  top: 340px;
  left: 724px;
  width: 356px;
  height: 340px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.rectangle_fan_wduv {
  top: 17px;
  left: 0px;
  width: 356;
  height: 323;
  position: absolute;
}
.fun_wduv_text_frame {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 125px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.line_temp_in {
  top: 178px;
  left: 17px;
  width: 314px;
  height: 3px;
  position: absolute;
}
.fun_wduv_var {
  top: 234px;
  left: 116px;
  color: rgba(255, 255, 255, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.img_cooler_status {
  top: 48px;
  left: 131px;
  width: 100px;
  height: 100px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.fan-exist-block {
  top: 342px;
  left: 364px;
  width: 356px;
  height: 338px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.rectangle_fan_exist_frame {
  top: 15px;
  left: 0px;
  width: 356;
  height: 323;
  position: absolute;
}
.fan_exist_text {
  top: 1px;
  left: 4px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.line_fan_exist {
  top: 177px;
  left: 17px;
  width: 314px;
  height: 3px;
  position: absolute;
}
.fun_extract_var {
  top: 232px;
  left: 116px;
  color: rgba(255, 255, 255, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.fun-extract_img {
  top: 46px;
  left: 128px;
  width: 100px;
  height: 100px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
/**********Тут крутится картинка*************/
  transition: all 0.5s ease;
  animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
}
/**********Тут крутится картинка*************/

.fan-in-block {
  top: 340px;
  left: 0px;
  width: 360px;
  height: 340px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.rectangle_fan_in {
  top: 17px;
  left: 4px;
  width: 356;
  height: 323;
  position: absolute;
}
.fun-in-text {
  top: 0px;
  left: 10px;
  color: rgba(255, 255, 255, 1);
  width: 75px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.line_fun_in {
  top: 180px;
  left: 20px;
  width: 314px;
  height: 3px;
  position: absolute;
}
.fun-in-var {
  top: 234px;
  left: 120px;
  color: rgba(255, 255, 255, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.fun-in_img_fan {
  top: 48px;
  left: 133px;
  width: 100px;
  height: 100px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  /**********Тут крутится картинка*************/
  transition: all 0.5s ease;
  animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
}
/**********Тут крутится картинка*************/

.light-foto-block {
  top: 1px;
  left: 726px;
  width: 354px;
  height: 338px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.rectangle_light {
  top: 15px;
  width: 354;
  height: 307;
  position: absolute;
}
.relay_light-text {
  top: 0px;
  left: 1px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.fotosensor-text {
  top: 310px;
  left: 200px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
#fotosensor_img {
  top: 210px;
  left: 43px;
  width: 80px;
  height: 85px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-image: url(assets/fotosens_img_on.jpg);
  background-repeat: no-repeat;
  /*visibility: hidden;*/
}
.light_interval {
  top: 58px;
  left: 860px;
  width: 60px;
  height: 70px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.tempin_text_frame {
  top: 0px;
  left: 2px;
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.humidityin_text_frame {
  top: 310px;
  left: 276px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.line_light_foto {
  top: 168px;
  left: 17px;
  width: 313px;
  height: 3px;
  position: absolute;
}
.lamp_on-image {
  top: 55px;
  left: 38px;
  width: 85px;
  height: 80px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.reley_light_var {
  top: 68px;
  left: 204px;
  color: rgba(255, 255, 255, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
#light-status {
  top: 220px;
  left: 204px;
  color: rgba(255, 255, 255, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.start_timer_light {
  top: 3px;
  left: 17px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.line_light_timer {
  top: 37px;
  left: 18px;
  width: 125;
  height: 3;
  position: absolute;
}
.stop_timer_light {
  top: 45px;
  left: 16px;
  color: rgba(255, 255, 255, 1);
  width: 33px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.temp-in-block {
  top: 1px;
  left: 4px;
  width: 360px;
  height: 339px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.rectangle_temp_in {
  top: 15px;
  left: 3px;
  width: 352;
  height: 309;
  position: absolute;
}
.humi_in-img {
  top: 198px;
  left: 22px;
  width: 105px;
  height: 100px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.termom-image {
  top: 48px;
  left: 41px;
  width: 71px;
  height: 98px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.tempin_text {
  top: 55px;
  left: 150px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tempout_text {
  top: 55px;
  left: 155px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.humidityin_text {
  top: 210px;
  left: 163px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.humidityout_text {
  top: 210px;
  left: 172px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.date-time-block {
  top: 0px;
  left: 364px;
  width: 359px;
  height: 340px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.rectangle_date {
  top: 16px;
  left: 2px;
  width: 352;
  height: 309;
  position: absolute;
}
.date-text {
  top: 4px;
  left: 5px;
  color: rgba(255, 255, 255, 1);
  width: 59px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.time-text {
  top: 310px;
  left: 302px;
  color: rgba(255, 255, 255, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.line-date-time {
  top: 171px;
  left: 23px;
  width: 311px;
  height: 3px;
  position: absolute;
}
.date-current-text {
  top: 69px;
  left: 11px;
  color: rgba(255, 255, 255, 1);
  width: 335px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.time-current-text {
  top: 220px;
  left: 87px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.temp-out-block {
  top: 1px;
  left: 1087px;
  width: 354px;
  height: 339px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.rectangle_temp_out {
  top: 15px;
  left: 0px;
  width: 352;
  height: 309;
  position: absolute;
}
.temp_out-text {
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.humi_out_text {
  top: 307px;
  left: 238px;
  color: rgba(255, 255, 255, 1);
  width: 116px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.line_temp_out {
  top: 170px;
  left: 17px;
  width: 311px;
  height: 3px;
  position: absolute;
}
.humi_out_img {
  top: 198px;
  left: 21px;
  width: 106px;
  height: 100px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.termom_out_img {
  top: 42px;
  left: 41px;
  width: 71px;
  height: 98px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.header {
  top: 16px;
  left: 0px;
  width: 1440px;
  height: 231px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(0, 0, 0, 1);
}
.constant-block {
  top: 82px;
  left: 539px;
  width: 363px;
  height: 66px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.constant_text {
  top: 10px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.constant_int {
  top: 10px;
  left: 223px;
  color: rgba(255, 255, 255, 1);
  width: 83px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-page1097-text34 {
  top: 0px;
  left: 302px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 96px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: 0px;
  font-stretch: normal;
  text-decoration: none;
}
.footer {
  top: 960px;
  left: 1.1368683772161603e-13px;
  width: 1440px;
  height: 231px;
  display: flex;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(0, 0, 0, 1);
}
.polling {
  top: 51px;
  left: 325px;
  width: 791px;
  height: 129px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.interval_text {
  top: 40px;
  left: 112px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.interval_check_sens {
  top: 40px;
  left: 635px;
  color: rgba(255, 255, 255, 1);
  width: 83px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.interval_timer {
  top: 40px;
  left: 545px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
